/*CSS DOCUMENT*/

img {
    width: 100%; 
}

/*Please don’t change this CSS stylesheet for the content hierarchy assginment */

<meta name="viewport" content="width=device-width, initial-scale=1.0">

body{
	background-color: #FAF8F7;
}

div.container{
	max-width: 30em;
	margin: auto;
}

footer{
}

figure{
	max-width: 30em;
	margin: auto;
	margin-top: 2em;
}


#logo{
	width: 1.5em;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2em;
	margin-bottom: 1em;
}

nav ul{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
nav ul li{
	display: inline;
	list-style-type: none;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	margin-right: 2em;
	letter-spacing: 0.1em;
	font-weight: 500;
	font-size: 1em;
}

nav ul li a{
	text-decoration: none;
	color: #B4BDC0;
}

nav ul li a:hover{
	color: #758589;
}



main h2{
	color: #758589;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.75em;
	margin-bottom: 0;
}

main p{
	text-align: center;
}

h1, h2, h3, h4, p{
	font-family: 'Poppins', sans-serif;
}

#menu p{
	text-align: left;
}

#menu ul{
	padding: 0;
}

#menu ul li{
	list-style-type: none;

}

#menu h3{
	color: #565D5E;
	font-size: 1.5em;
}

#menu h4{
	color: #758589;
	margin-bottom: 0.5em;
}

#menu li{
	margin-bottom: 3em;
}

#menu li p{
	line-height: 1.5em;
	color: #565D5E;
}

ul{
	margin-bottom: 5em;
}

#location p{
	margin-bottom: 4em;
}

#about p{
	margin-bottom: 5em;
}